
<div class="container">
    <div class="box">
        <mat-card>  
            <form>
                <mat-form-field appearance="fill"  class="input-size-90 marginLeftLogin">
                    <mat-label>Cliente</mat-label>
                    <mat-select [(value)]="agenda.codigoCliente">
                        <mat-option *ngFor="let cliente of clientes" [value]="cliente.codigo">
                        {{cliente.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill"  class="input-size-90 marginLeftLogin">
                    <mat-label>Tipo Produto</mat-label>
                    <mat-select [(value)]="agenda.tipoproduto">
                        <mat-option *ngFor="let tipoProduto of tiposProduto" [value]="tipoProduto">
                        {{tipoProduto}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="input-size-90 marginLeftLogin">
                    <mat-label>Data Agendamento</mat-label>
                    <input class="mat-datepicker-input" matInput [(ngModel)]="agenda.dataAgenda" [matDatepicker]="dataAgenda" id="dataAgenda" name="dataAgenda">
                    <mat-icon matDatepickerToggleIcon (click)="limparDataAgendamento()">X</mat-icon>
                    <mat-datepicker-toggle matSuffix [for]="dataAgenda"></mat-datepicker-toggle>
                    <mat-datepicker disabled="false" #dataAgenda></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill"  class="input-size-90 marginLeftLogin">
                    <mat-label>Horário</mat-label>
                    <mat-select [(value)]="agenda.horario">
                        <mat-option *ngFor="let horario of horarios" [value]="horario">
                        {{horario}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <span class="marginLeftLogin">
                <button mat-raised-button  (click)="agendar()" color="primary" class="input-size-90 marginLeftLogin">
                    Agendar
                </button>
                
                <button mat-stroked-button (click)="sair()" color="primary"  class="input-size-90    marginLeftLogin">
                    Sair
                </button>
            </span>
        </mat-card>        
    </div>
</div>
   